.dropdown-button{
    display: block;
    background-color: blue;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    min-width: 100px;
    position: absolute;
}
.dropdown-child a {
    color: black;
    margin: 5px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child a:hover{
    background-color: lightgrey;
}